<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ColumnCheckWidth>20</ColumnCheckWidth>
  <ColumnLocationWidth>180</ColumnLocationWidth>
  <ColumnNameWidth>150</ColumnNameWidth>
  <ColumnTypeWidth>75</ColumnTypeWidth>
  <ColumnVersionWidth>90</ColumnVersionWidth>
  <FirstRun>false</FirstRun>
  <Hotkeys>
    <SelectedHotkeys>
      <SelectedHotkeys>
        <DefaultKey>F5</DefaultKey>
        <Description>Reload the assemblies</Description>
        <Hotkey>F5</Hotkey>
        <HotkeyInt>116</HotkeyInt>
        <Name>Reload</Name>
      </SelectedHotkeys>
      <SelectedHotkeys>
        <DefaultKey>F8</DefaultKey>
        <Description>Recompile and reload the assemblies</Description>
        <Hotkey>F8</Hotkey>
        <HotkeyInt>119</HotkeyInt>
        <Name>CompileAndReload</Name>
      </SelectedHotkeys>
      <SelectedHotkeys>
        <DefaultKey>LeftShift</DefaultKey>
        <Description>Shows the menu (Press)</Description>
        <Hotkey>LeftShift</Hotkey>
        <HotkeyInt>16</HotkeyInt>
        <Name>ShowMenuPress</Name>
      </SelectedHotkeys>
      <SelectedHotkeys>
        <DefaultKey>F9</DefaultKey>
        <Description>Shows the menu (Toggle)</Description>
        <Hotkey>F9</Hotkey>
        <HotkeyInt>120</HotkeyInt>
        <Name>ShowMenuToggle</Name>
      </SelectedHotkeys>
    </SelectedHotkeys>
  </Hotkeys>
  <Install>true</Install>
  <KnownRepositories>
    <KnownRepositories>https://github.com/LeagueSharp/LeagueSharpCommon</KnownRepositories>
    <KnownRepositories>https://github.com/Beaving/LeagueSharp</KnownRepositories>
    <KnownRepositories>https://github.com/Esk0r/LeagueSharp</KnownRepositories>
    <KnownRepositories>https://github.com/legacy3/Marksman</KnownRepositories>
    <KnownRepositories>https://github.com/TC-Crew/L-Assemblies</KnownRepositories>
    <KnownRepositories>https://github.com/blm95/LeagueSharp2</KnownRepositories>
    <KnownRepositories>https://github.com/ChewyMoon/ChewyMoonScripts</KnownRepositories>
    <KnownRepositories>https://github.com/DZ191/LeagueSharp</KnownRepositories>
    <KnownRepositories>https://github.com/h3h3/LeagueSharp</KnownRepositories>
    <KnownRepositories>https://github.com/Hellsing/LeagueSharp</KnownRepositories>
    <KnownRepositories>https://github.com/Screeder/SAwareness</KnownRepositories>
    <KnownRepositories>https://github.com/shalzuth/LeagueSharp</KnownRepositories>
    <KnownRepositories>https://github.com/tr33s/LeagueSharp</KnownRepositories>
    <KnownRepositories>https://github.com/WorstPing/LeagueSharp</KnownRepositories>
    <KnownRepositories>https://github.com/xKurisu/KurisuSolutions</KnownRepositories>
    <KnownRepositories>https://github.com/xQxCPMxQx/LeagueSharp2</KnownRepositories>
    <KnownRepositories>https://github.com/xSalice/LSharp</KnownRepositories>
    <KnownRepositories>https://github.com/yol0swag/LeagueSharp</KnownRepositories>
    <KnownRepositories>https://github.com/AlterEgojQuery/ElBundle</KnownRepositories>
    <KnownRepositories>https://github.com/PastelComCoca/LeagueSharp</KnownRepositories>
    <KnownRepositories>https://github.com/brian0305/LeagueSharp</KnownRepositories>
    <KnownRepositories>https://github.com/FlapperDoodlez/LeagueSharp</KnownRepositories>
    <KnownRepositories>https://github.com/fueledbyflux/LeagueSharp-Public</KnownRepositories>
    <KnownRepositories>https://github.com/imsosharp/leaguesharp</KnownRepositories>
    <KnownRepositories>https://github.com/InjectionDev/LeagueSharp</KnownRepositories>
    <KnownRepositories>https://github.com/metaphorce/leaguesharp</KnownRepositories>
    <KnownRepositories>https://github.com/OneKeyToWin/LeagueRepo</KnownRepositories>
    <KnownRepositories>https://github.com/SephLeague/LeagueSharp</KnownRepositories>
    <KnownRepositories>https://github.com/SKOx0/LeagueSharp</KnownRepositories>
    <KnownRepositories>https://github.com/Soresu/LeagueSharp</KnownRepositories>
    <KnownRepositories>https://github.com/TheSaltyWaffle/LeagueSharp</KnownRepositories>
    <KnownRepositories>https://github.com/RoachxD/LeagueSharp</KnownRepositories>
    <KnownRepositories>https://github.com/alrik94/LeagueSharp</KnownRepositories>
    <KnownRepositories>https://github.com/blackyy/LeagueSharp</KnownRepositories>
    <KnownRepositories>https://github.com/Crisdmc/LeagueSharp</KnownRepositories>
    <KnownRepositories>https://github.com/DarkAzazel/LeagueSharp</KnownRepositories>
    <KnownRepositories>https://github.com/ikkeflikkeri/LeagueSharp</KnownRepositories>
    <KnownRepositories>https://github.com/jasteph/LeagueSharp</KnownRepositories>
    <KnownRepositories>https://github.com/LittleRedEye/LeagueSharp</KnownRepositories>
    <KnownRepositories>https://github.com/TheKushStyle/LeagueSharp</KnownRepositories>
    <KnownRepositories>https://github.com/trus/L-</KnownRepositories>
    <KnownRepositories>https://github.com/zUsername/LeagueSharp</KnownRepositories>
  </KnownRepositories>
  <LeagueOfLegendsExePath>C:\Riot Games\League of Legends\RADS\solutions\lol_game_client_sln\releases\0.0.1.114\deploy\League of Legends.exe</LeagueOfLegendsExePath>
  <Password>4437bdd0b7af3d735e59b8ad2f4bc6da</Password>
  <Profiles>
    <Profiles>
      <InstalledAssemblies>
        <LeagueSharpAssembly>
          <Description />
          <DisplayName>LeagueSharp.Common</DisplayName>
          <InjectChecked>true</InjectChecked>
          <InstallChecked>true</InstallChecked>
          <Name>LeagueSharp.Common</Name>
          <PathToProjectFile>C:\Users\Aaron\AppData\Roaming\LS3BFD6FB\Repositories\8A7DEFD1\trunk\LeagueSharp.Common.csproj</PathToProjectFile>
          <Status>Ready</Status>
          <SvnUrl>https://github.com/LeagueSharp/LeagueSharpCommon</SvnUrl>
        </LeagueSharpAssembly>
        <LeagueSharpAssembly>
          <DisplayName>LeagueSharp.SDK</DisplayName>
          <InjectChecked>true</InjectChecked>
          <InstallChecked>true</InstallChecked>
          <Name>LeagueSharp.SDK</Name>
          <PathToProjectFile>C:\Users\Aaron\AppData\Roaming\LS3BFD6FB\Repositories\8443D874\trunk\LeagueSharp.SDK.csproj</PathToProjectFile>
          <Status>Ready</Status>
          <SvnUrl>https://github.com/LeagueSharp/LeagueSharp.SDK</SvnUrl>
        </LeagueSharpAssembly>
        <LeagueSharpAssembly>
          <Description />
          <DisplayName>SkinHack</DisplayName>
          <InjectChecked>true</InjectChecked>
          <InstallChecked>false</InstallChecked>
          <Name>SkinHack</Name>
          <PathToProjectFile>C:\Users\Aaron\AppData\Roaming\LS3BFD6FB\Repositories\8D8F82E6\trunk\SkinHack\SkinHack.csproj</PathToProjectFile>
          <Status>Ready</Status>
          <SvnUrl>https://github.com/tr33s/LeagueSharp</SvnUrl>
        </LeagueSharpAssembly>
        <LeagueSharpAssembly>
          <Description />
          <DisplayName>TreeLib</DisplayName>
          <InjectChecked>true</InjectChecked>
          <InstallChecked>true</InstallChecked>
          <Name>TreeLib</Name>
          <PathToProjectFile>C:\Users\Aaron\AppData\Roaming\LS3BFD6FB\Repositories\8D8F82E6\trunk\TreeLib\TreeLib.csproj</PathToProjectFile>
          <Status>Ready</Status>
          <SvnUrl>https://github.com/tr33s/LeagueSharp</SvnUrl>
        </LeagueSharpAssembly>
        <LeagueSharpAssembly>
          <Description />
          <DisplayName>jesuisFiora</DisplayName>
          <InjectChecked>true</InjectChecked>
          <InstallChecked>true</InstallChecked>
          <Name>jesuisFiora</Name>
          <PathToProjectFile>C:\Users\Aaron\AppData\Roaming\LS3BFD6FB\Repositories\8D8F82E6\trunk\jesuisFiora\jesuisFiora.csproj</PathToProjectFile>
          <Status>Ready</Status>
          <SvnUrl>https://github.com/tr33s/LeagueSharp</SvnUrl>
        </LeagueSharpAssembly>
        <LeagueSharpAssembly>
          <Description />
          <DisplayName>ezEvade</DisplayName>
          <InjectChecked>true</InjectChecked>
          <InstallChecked>true</InstallChecked>
          <Name>ezEvade</Name>
          <PathToProjectFile>C:\Users\Aaron\AppData\Roaming\LS3BFD6FB\Repositories\4D6C9343\trunk\ezEvade\ezEvade.csproj</PathToProjectFile>
          <Status>Ready</Status>
          <SvnUrl>https://github.com/soulcaliber/LeagueSharp</SvnUrl>
        </LeagueSharpAssembly>
        <LeagueSharpAssembly>
          <Description />
          <DisplayName>ProjectFiora</DisplayName>
          <InjectChecked>true</InjectChecked>
          <InstallChecked>true</InstallChecked>
          <Name>ProjectFiora</Name>
          <PathToProjectFile>C:\Users\Aaron\AppData\Roaming\LS3BFD6FB\Repositories\A0BEFC17\trunk\ProjectFiora\ProjectFiora.csproj</PathToProjectFile>
          <Status>Ready</Status>
          <SvnUrl>https://github.com/badao/ProjectFiora</SvnUrl>
        </LeagueSharpAssembly>
        <LeagueSharpAssembly>
          <Description />
          <DisplayName>iSeriesReborn</DisplayName>
          <InjectChecked>false</InjectChecked>
          <InstallChecked>true</InstallChecked>
          <Name>iSeriesReborn</Name>
          <PathToProjectFile>C:\Users\Aaron\AppData\Roaming\LS3BFD6FB\Repositories\212EF0DE\trunk\iSeriesReborn\iSeriesReborn.csproj</PathToProjectFile>
          <Status>Ready</Status>
          <SvnUrl>https://github.com/DZ191/LeagueSharp</SvnUrl>
        </LeagueSharpAssembly>
        <LeagueSharpAssembly>
          <Description />
          <DisplayName>MooSpammer LeagueSharp</DisplayName>
          <InjectChecked>false</InjectChecked>
          <InstallChecked>true</InstallChecked>
          <Name>MooSpammer LeagueSharp</Name>
          <PathToProjectFile>C:\Users\Aaron\Documents\Visual Studio 2015\Projects\MooSpammer LeagueSharp\MooSpammer LeagueSharp\MooSpammer LeagueSharp.csproj</PathToProjectFile>
          <Status>Ready</Status>
          <SvnUrl />
        </LeagueSharpAssembly>
      </InstalledAssemblies>
      <Name>Default</Name>
    </Profiles>
  </Profiles>
  <RandomName>Qgbj81.exe</RandomName>
  <SelectedColor>Blue</SelectedColor>
  <SelectedProfile>
    <InstalledAssemblies>
      <LeagueSharpAssembly>
        <Description />
        <DisplayName>LeagueSharp.Common</DisplayName>
        <InjectChecked>true</InjectChecked>
        <InstallChecked>true</InstallChecked>
        <Name>LeagueSharp.Common</Name>
        <PathToProjectFile>C:\Users\Aaron\AppData\Roaming\LS3BFD6FB\Repositories\8A7DEFD1\trunk\LeagueSharp.Common.csproj</PathToProjectFile>
        <Status>Ready</Status>
        <SvnUrl>https://github.com/LeagueSharp/LeagueSharpCommon</SvnUrl>
      </LeagueSharpAssembly>
      <LeagueSharpAssembly>
        <DisplayName>LeagueSharp.SDK</DisplayName>
        <InjectChecked>true</InjectChecked>
        <InstallChecked>true</InstallChecked>
        <Name>LeagueSharp.SDK</Name>
        <PathToProjectFile>C:\Users\Aaron\AppData\Roaming\LS3BFD6FB\Repositories\8443D874\trunk\LeagueSharp.SDK.csproj</PathToProjectFile>
        <Status>Ready</Status>
        <SvnUrl>https://github.com/LeagueSharp/LeagueSharp.SDK</SvnUrl>
      </LeagueSharpAssembly>
      <LeagueSharpAssembly>
        <Description />
        <DisplayName>SkinHack</DisplayName>
        <InjectChecked>true</InjectChecked>
        <InstallChecked>false</InstallChecked>
        <Name>SkinHack</Name>
        <PathToProjectFile>C:\Users\Aaron\AppData\Roaming\LS3BFD6FB\Repositories\8D8F82E6\trunk\SkinHack\SkinHack.csproj</PathToProjectFile>
        <Status>Ready</Status>
        <SvnUrl>https://github.com/tr33s/LeagueSharp</SvnUrl>
      </LeagueSharpAssembly>
      <LeagueSharpAssembly>
        <Description />
        <DisplayName>TreeLib</DisplayName>
        <InjectChecked>true</InjectChecked>
        <InstallChecked>true</InstallChecked>
        <Name>TreeLib</Name>
        <PathToProjectFile>C:\Users\Aaron\AppData\Roaming\LS3BFD6FB\Repositories\8D8F82E6\trunk\TreeLib\TreeLib.csproj</PathToProjectFile>
        <Status>Ready</Status>
        <SvnUrl>https://github.com/tr33s/LeagueSharp</SvnUrl>
      </LeagueSharpAssembly>
      <LeagueSharpAssembly>
        <Description />
        <DisplayName>jesuisFiora</DisplayName>
        <InjectChecked>true</InjectChecked>
        <InstallChecked>true</InstallChecked>
        <Name>jesuisFiora</Name>
        <PathToProjectFile>C:\Users\Aaron\AppData\Roaming\LS3BFD6FB\Repositories\8D8F82E6\trunk\jesuisFiora\jesuisFiora.csproj</PathToProjectFile>
        <Status>Ready</Status>
        <SvnUrl>https://github.com/tr33s/LeagueSharp</SvnUrl>
      </LeagueSharpAssembly>
      <LeagueSharpAssembly>
        <Description />
        <DisplayName>ezEvade</DisplayName>
        <InjectChecked>true</InjectChecked>
        <InstallChecked>true</InstallChecked>
        <Name>ezEvade</Name>
        <PathToProjectFile>C:\Users\Aaron\AppData\Roaming\LS3BFD6FB\Repositories\4D6C9343\trunk\ezEvade\ezEvade.csproj</PathToProjectFile>
        <Status>Ready</Status>
        <SvnUrl>https://github.com/soulcaliber/LeagueSharp</SvnUrl>
      </LeagueSharpAssembly>
      <LeagueSharpAssembly>
        <Description />
        <DisplayName>ProjectFiora</DisplayName>
        <InjectChecked>true</InjectChecked>
        <InstallChecked>true</InstallChecked>
        <Name>ProjectFiora</Name>
        <PathToProjectFile>C:\Users\Aaron\AppData\Roaming\LS3BFD6FB\Repositories\A0BEFC17\trunk\ProjectFiora\ProjectFiora.csproj</PathToProjectFile>
        <Status>Ready</Status>
        <SvnUrl>https://github.com/badao/ProjectFiora</SvnUrl>
      </LeagueSharpAssembly>
      <LeagueSharpAssembly>
        <Description />
        <DisplayName>iSeriesReborn</DisplayName>
        <InjectChecked>false</InjectChecked>
        <InstallChecked>true</InstallChecked>
        <Name>iSeriesReborn</Name>
        <PathToProjectFile>C:\Users\Aaron\AppData\Roaming\LS3BFD6FB\Repositories\212EF0DE\trunk\iSeriesReborn\iSeriesReborn.csproj</PathToProjectFile>
        <Status>Ready</Status>
        <SvnUrl>https://github.com/DZ191/LeagueSharp</SvnUrl>
      </LeagueSharpAssembly>
      <LeagueSharpAssembly>
        <Description />
        <DisplayName>MooSpammer LeagueSharp</DisplayName>
        <InjectChecked>false</InjectChecked>
        <InstallChecked>true</InstallChecked>
        <Name>MooSpammer LeagueSharp</Name>
        <PathToProjectFile>C:\Users\Aaron\Documents\Visual Studio 2015\Projects\MooSpammer LeagueSharp\MooSpammer LeagueSharp\MooSpammer LeagueSharp.csproj</PathToProjectFile>
        <Status>Ready</Status>
        <SvnUrl />
      </LeagueSharpAssembly>
    </InstalledAssemblies>
    <Name>Default</Name>
  </SelectedProfile>
  <Settings>
    <GameSettings>
      <GameSettings>
        <Name>Anti-AFK</Name>
        <PosibleValues>
          <string>True</string>
          <string>False</string>
        </PosibleValues>
        <SelectedValue>True</SelectedValue>
      </GameSettings>
      <GameSettings>
        <Name>Debug Console</Name>
        <PosibleValues>
          <string>True</string>
          <string>False</string>
        </PosibleValues>
        <SelectedValue>False</SelectedValue>
      </GameSettings>
      <GameSettings>
        <Name>Display Enemy Tower Range</Name>
        <PosibleValues>
          <string>True</string>
          <string>False</string>
        </PosibleValues>
        <SelectedValue>False</SelectedValue>
      </GameSettings>
      <GameSettings>
        <Name>Extended Zoom</Name>
        <PosibleValues>
          <string>True</string>
          <string>False</string>
        </PosibleValues>
        <SelectedValue>False</SelectedValue>
      </GameSettings>
      <GameSettings>
        <Name>Show Ping</Name>
        <PosibleValues>
          <string>True</string>
          <string>False</string>
        </PosibleValues>
        <SelectedValue>True</SelectedValue>
      </GameSettings>
      <GameSettings>
        <Name>Show Drawings</Name>
        <PosibleValues>
          <string>True</string>
          <string>False</string>
        </PosibleValues>
        <SelectedValue>True</SelectedValue>
      </GameSettings>
      <GameSettings>
        <Name>Send Anonymous Assembly Statistics</Name>
        <PosibleValues>
          <string>True</string>
          <string>False</string>
        </PosibleValues>
        <SelectedValue>True</SelectedValue>
      </GameSettings>
      <GameSettings>
        <Name>Always Inject Default Profile</Name>
        <PosibleValues>
          <string>True</string>
          <string>False</string>
        </PosibleValues>
        <SelectedValue>False</SelectedValue>
      </GameSettings>
    </GameSettings>
  </Settings>
  <ShowDevOptions>false</ShowDevOptions>
  <TosAccepted>true</TosAccepted>
  <UpdateCoreOnInject>true</UpdateCoreOnInject>
  <UpdateOnLoad>true</UpdateOnLoad>
  <Username>MakeVio</Username>
  <WindowHeight>450</WindowHeight>
  <WindowLeft>386</WindowLeft>
  <WindowState>Normal</WindowState>
  <WindowTop>137</WindowTop>
  <WindowWidth>1194</WindowWidth>
</Config>